# **Name:** Preet Sojitra

## **Roll No:** 21BCP388

Practice all the examples of List, Tuple, Set and Dictionaries provided in the ppt

In [1]:
mylist = ["apple", "banana", "cherry"]
mylist[1:3] = ["watermelon"]
print(mylist)

['apple', 'watermelon']

In [2]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(2,"watermeleon")
print(mylist)

['apple', 'banana', 'watermeleon', 'cherry']

In [3]:
mylist = ["apple", "banana", "cherry"]
mylist.append("orange")
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [4]:
mylist = ["apple", "banana", "cherry"]
morefruits = ["mango","pineapple","papaya"]
mylist.extend(morefruits)
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [5]:
mylist = ["apple", "banana", "cherry"]
mytuple = ("kiwi","orange")
mylist.extend(mytuple)
print(mylist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [6]:
mylist = ["apple", "banana", "cherry"]
mylist.remove("apple")
print(mylist)

['banana', 'cherry']

In [7]:
mylist = ["apple", "banana", "cherry"]
mylist.pop()
print(mylist)

['apple', 'banana']

In [8]:
mylist = ["apple", "banana", "cherry"]
del mylist[0]
print(mylist)

['banana', 'cherry']

In [10]:
mylist = ["apple", "banana", "cherry"]
print(mylist)
del mylist

['apple', 'banana', 'cherry']

In [11]:
mylist = ["apple", "banana", "cherry"]
mylist.clear()
print(mylist)

[]

In [13]:
mylist = ["apple", "banana", "cherry"]
for x in mylist:
  print(x)

apple
banana
cherry

In [14]:
mylist = ["apple", "banana", "cherry"]
i = 0
while i < len(mylist):
  print(mylist[i])
  i += 1

apple
banana
cherry

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [16]:
items = ["apple", "banana", "carrort", "dragonfruit", "elephant"]
if "elephant" in items:
  a = items.index("elephant")
print(a+1)
newlist = ["hello" for x in items]
print(newlist)

5
['hello', 'hello', 'hello', 'hello', 'hello']

In [17]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [18]:
mytuple = ("apple", "banana", "cherry")
print(mytuple[1])

banana

In [21]:
mytuple = ("apple", "banana", "cherry")
for x in mytuple:
  print(x)

apple
banana
cherry

In [20]:
x = ("apple", "banana", "Cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'Cherry')

In [22]:
mytuple = ("apple", "banana", "cherry")
for i in range(len(mytuple)):
  print(mytuple[i])

apple
banana
cherry

In [23]:
tuple1 = ("a", "b", "c")
tuple2 = (1,2,3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [24]:
fruits = ("apple", "banana","cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [26]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'banana', 'apple', 'cherry'}

In [28]:
myset = ("apple", "banana","cherry")
for x in myset:
  print(x)

apple
banana
cherry

In [31]:
myset = {"apple", "banana","cherry"}
myset.add("orange")
print(myset)

{'banana', 'orange', 'apple', 'cherry'}

In [32]:
myset = {"apple", "banana","cherry"}
tropical = {"pineapple","mango","papaya"}

myset.update(tropical)
print(myset)

{'mango', 'apple', 'papaya', 'cherry', 'banana', 'pineapple'}

In [34]:
myset ={"apple", "banana","cherry"}
myset.remove("banana")
print(myset)

{'apple', 'cherry'}

In [38]:
myset = {"apple", "banana","cherry"}
for x in myset:
  print(x)

banana
apple
cherry

In [40]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 'c', 'a', 3}

In [41]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [42]:
x = thisdict.get("model")
print(x)

Mustang

In [43]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
x = car.keys()
print(x)
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])