####**1.** WAP to take two floats as input and print all the permutations of the applicable operators on them

#**1. Arithmetic Operators**

In [1]:
a = input("Enter first number: ")
b = input ("Enter second number: ")

Enter first number: 5
Enter second number: 3

In [5]:
#1. Addition
print(int(a)+ int(b))

8

In [6]:
#2. Subtraction
print(int(a)- int(b))

2

In [7]:
#3. Multiplication
print(int(a)*int(b))

15

In [8]:
#4 Division
print(int(a)/int(b))

1.6666666666666667

In [9]:
#5 Modulus
print(int(a)%int(b))

2

In [10]:
#6 Exponential
print(int(a)**int(b))

125

In [11]:
#7 Floor Division
print(int(a)//int(b))

1

# **2. Assignment Operators**

In [15]:
#1 '=' Operator
a = 7
b = 10
print(a,b)

7 10

In [16]:
#2 '+=' operator
a += 2
b += 3
print(a,b)

9 13

In [17]:
#3 '-=' operator
a -= 2
b -= 3
print(a,b)

7 10

In [18]:
#4 '*=' operator
a *= 2
b *= 3
print(a,b)

14 30

In [19]:
#5 '/=' operator
a /= 2
b /= 3
print(a,b)

7.0 10.0

In [20]:
#6 '%=' operator
a %= 2
b %= 3
print(a,b)

1.0 1.0

In [21]:
#7 '//=' operator
a //= 2
b //= 3
print(a,b)

0.0 0.0

In [23]:
#8 '**=' operator
a = 2
b = 3
a **= 2
b **= 3
print(a,b)

4 27

# **3. Comparison Operators**

In [29]:
#1 "==" Operator
print ("a is: " + str(a) + " and b is: " + str(b))
print(a==b)

a is: 3 and b is: 7
False

In [30]:
#2 "!=" Operator
print ("a is: " + str(a) + " and b is: " + str(b))
print(a!=b)

a is: 3 and b is: 7
True

In [31]:
#3 ">" Operator
print ("a is: " + str(a) + " and b is: " + str(b))
print(a>b)

a is: 3 and b is: 7
False

In [32]:
#4 "<" Operator
print ("a is: " + str(a) + " and b is: " + str(b))
print(a<b)

a is: 3 and b is: 7
True

In [33]:
#5 ">=" Operator
print ("a is: " + str(a) + " and b is: " + str(b))
print(a>=b)

a is: 3 and b is: 7
False

In [34]:
#6 <==" Operator
print ("a is: " + str(a) + " and b is: " + str(b))
print(a<=b)

a is: 3 and b is: 7
True

# **4.Logical Operator**

In [37]:
#1 'and' operator
a = 10
b = 6
print ("a is: " + str(a) + " and b is: " + str(b))
print(a>b and a>=b)

a is: 10 and b is: 6
True

In [38]:
#2 'or' operator
a = 10
b = 6
print ("a is: " + str(a) + " and b is: " + str(b))
print(a>b or a<=b)

a is: 10 and b is: 6
True

In [39]:
#3 'and' operator
a = 10
b = 6
print ("a is: " + str(a) + " and b is: " + str(b))
print(not(a>b and a>=b))

a is: 10 and b is: 6
False

# **5. Identity Operators**

In [40]:
#1 'is' operator
a = 6
b = 6
print ("a is: " + str(a) + " and b is: " + str(b))
print(a is b)

a is: 6 and b is: 6
True

In [41]:
#2 'is' operator
a = 6
b = 6
print ("a is: " + str(a) + " and b is: " + str(b))
print(a is not b)

a is: 6 and b is: 6
False

# **6. Membership Operators**

In [44]:
#1 'in' operator
rollNo = ['25', '69', '420', '54']
print('69' in rollNo)

True

In [45]:
#2 'not in' operator
rollNo = ['25', '69', '420', '54']
print('25' not in rollNo)

False